body{
    background-color: bisque;
}

.product{
    border: 1px solid ;
    border-size: 1px;
    width: fit-content;
}
.image{
    width: 100%;
    height: 200px;
    background-color: bisque;
    padding: 5px;
}